@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Lora:ital@1&family=Playfair+Display:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-index {
    display: grid;
    grid-template-areas:
        "header"
        "section-one"
        "section-two"
        "footer";
    grid-template-rows: auto auto auto auto;
    row-gap: 2%;
    min-height: 100vh;
}

body {
    background-image: url(../Img/Picture/f2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/* HEADER */

header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    background-image: url(../Img/Picture/f2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-bottom: 3px solid darkblue;
    font-family: 'Bungee', cursive;
}

/* Logo */

.logo {
    display: flex;
}

.helm {
    width: 10%;
    margin-left: 10px;
}

.title {
    font-size: 1.2em;
    display: flex;
    align-items: center;
    margin-left: 15px;
}

header h1 {
    color: cyan;
    text-shadow: blue 3px 2px;
    font-size: 1em;
    margin: 10px;
    letter-spacing: 3px;
    text-align: center;
}

/* /Logo */

/* NAV */

nav {
    grid-area: nav;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

header ul li a {
    font-size: 1em;
    margin: 0 10px;
    text-decoration: none;
    color: cyan;
    text-shadow: blue 2px 1px;
    letter-spacing: 3px;
}

header ul li a:hover {
    color: blue;
    transition: all .5s;
}

/* /NAV */

/* /HEADER */

/* SECTION 1*/
.one {
    grid-area: section-one;
}

.gif {
    width: 100%;
    height: 35rem;
    margin: auto;
    display: block;
}

h2 {
    margin-top: 25px;
    margin-bottom: 25px;
    color: rgb(0, 255, 255);
    text-shadow: blue 3px 2px;
    font-family: 'Lora', serif;
    letter-spacing: 3px;
    text-align: center;
}

p {
    font-family: 'Playfair Display', serif;
    color: cyan;
    text-shadow: blue 3px 2px;
    font-size: 1.6em;
}

.p1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: end;
    letter-spacing: 1px;
}

/* /SECTION 1 */

/* SECTION 2 */

.two {
    grid-area: section-two;
}

.first {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: auto;
}

.img1 {
    display: flex;
    justify-content: flex-end;
    width: 30%;
    height: 500px;
    margin-left: 3%;
    border-radius: 50px;
    border: 3px solid white;
}

.second {
    display: flex;
    align-items: center;
    margin: auto;
    width: 90%;
    padding: auto;
}

.p2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: start;
    letter-spacing: 1px;
}

.img2 {
    width: 30%;
    height: 300px;
    margin-right: 3%;
    border-radius: 50px;
    border: 3px solid white;
    display: flex;
}

/* /SECTION 2 */

/* FOOTER */

footer {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    border-top: 3px solid darkblue;
    background-image: url(../Img/Picture/f2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    align-items: center;
}

.logo2 {
    display: flex;
    width: 33%;
}

footer h4 {
    font-family: 'Bungee', cursive;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    margin-left: 15px;
    color: cyan;
    text-shadow: blue 3px 2px;

}

.autor {
    width: 34%;
    display: flex;
    font-size: 0.85em;
    color: cyan;
    text-shadow: blue 3px 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    text-align: center;
    justify-content: center;
}

.redes {
    display: flex;
    width: 33%;
    justify-content: flex-end;
}

footer ul {
    display: flex;
    list-style: none;
    margin-right: 3%;
}

.redes ul li:hover {
    transform: scale(1.3, 1.3);
    transition: all .5s;
    cursor: pointer;
}

/* /FOOTER */

/*           EQUIPO           */

.container-team {
    display: grid;
    grid-template-areas:
        "header"
        "section-viaje"
        "footer";
    grid-template-rows: auto;
    row-gap: 2%;
    min-height: 100vh;
}

.card {
    border-radius: 5%;
    background-color: black;
    border: solid white 5px;
    padding: 1%;
    margin-bottom: 2%;
}

.card:hover {
    cursor: pointer;
    transform: translateY(-10px);
    transition: all 1s;
}

.card-img-top {
    border-radius: 4%;
}

#EQUIPO {
    grid-area: section-viaje;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0% 5% 5% 5%;
    align-items: center;
}

.f3 {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 1.7em;
    color: cyan;
    text-shadow: blue 3px 2px;
}


/*          /EQUIPO           */

/*           VIAJE            */

.container-viaje {
    display: grid;
    grid-template-areas:
        "header"
        "section-viaje"
        "footer";
    grid-template-rows: auto auto auto;
    row-gap: 3%;
    min-height: 100vh;
}

#VIAJE {
    grid-area: section-viaje;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0% 5% 5% 5%;
}

.div-travel {
    display: flex;
    justify-content: center;
}

.nav-travel {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    height: 5rem;
    background-color: black;
    border: solid white 3px;
}

.nav-travel a {
    text-decoration: none;
    font-size: 1.4em;
    font-family: fantasy;
    color: cyan;
    text-shadow: 2px 1px blue;
}
.travel {
    text-align: center;
    font-size: 1.7em;
    color: cyan;
    text-shadow: blue 3px 2px;
    padding: 3%;
}

.p-travel {
    text-align: center;
}

/*          /VIAJE            */

/*          GALERÍA            */

.container-gal {
    display: grid;
    grid-template-areas:
        "header"
        "section-gal"
        "footer";
    row-gap: 3%;
    min-height: 100vh;
}

#GALERÍA {
    grid-area: section-gal;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0% 5% 5% 5%;
}

.imgs {
    display: flex;
    justify-content: center;
}

.imgs2 {
    border-radius: 20%;
    border: 3px solid white;
}

.imgs2:hover {
    cursor: pointer;
}

/*         /GALERÍA            */

/*          INFORMACIÓN            */

.container-info {
    display: grid;
    grid-template-areas:
        "header header header"
        "artic-a artic-b artic-c"
        "artic-d artic-e artic-f"
        "footer footer footer";
    grid-gap: 2em;
    grid-template-rows: auto 45% 45% auto;
    min-height: 100vh;
}

.artic-a {
    grid-area: artic-a;
    border-radius: 5%;
    border: 3px solid white;
    background-color: black;
    margin-left: 2em;
    padding: 5%;
}

.artic-a:hover {
    transform: translateY(-10px);
    transition: all .5s;
    cursor: pointer;
}

.artic-b {
    grid-area: artic-b;
    border-radius: 5%;
    border: 3px solid white;
    background-color: black;
    padding: 5%;
}

.artic-b:hover {
    transform: translateY(-10px);
    transition: all .5s;
    cursor: pointer;
}

.artic-c {
    grid-area: artic-c;
    border-radius: 5%;
    border: 3px solid white;
    background-color: black;
    margin-right: 2em;
    padding: 5%;
}

.artic-c:hover {
    transform: translateY(-10px);
    transition: all .5s;
    cursor: pointer;
}

.artic-d {
    grid-area: artic-d;
    border-radius: 5%;
    border: 3px solid white;
    background-color: black;
    margin-left: 2em;
    padding: 5%;
}

.artic-d:hover {
    transform: translateY(-10px);
    transition: all .5s;
    cursor: pointer;
}

.artic-e {
    grid-area: artic-e;
    border-radius: 5%;
    border: 3px solid white;
    background-color: black;
    padding: 5%;
}

.artic-e:hover {
    transform: translateY(-10px);
    transition: all .5s;
    cursor: pointer;
}

.artic-f {
    grid-area: artic-f;
    border-radius: 5%;
    border: 3px solid white;
    background-color: black;
    margin-right: 2em;
    padding: 5%;
}

.artic-f:hover {
    transform: translateY(-10px);
    transition: all .5s;
    cursor: pointer;
}

.info {
    width: 100%;
    display: flex;
    margin-bottom: 1em;
    font-size: 1.2em;
    color: cyan;
    text-shadow: blue 3px 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.p-list {
    font-family: 'Playfair Display', serif;
    color: cyan;
    text-shadow: blue 3px 2px;
    font-size: 1.3em;
    text-align: center;
}

/*         /INFORMACIÓN            */

/*         CONTACTO           */

.container-contacto {
    display: grid;
    grid-template-areas:
        "header"
        "section-contacto"
        "footer";
    row-gap: 3%;
    min-height: 100vh;
}

#CONTACTO {
    grid-area: section-contacto;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0% 5% 5% 5%;
}

#CONTACTO H4 {
    font-size: 1.7em;
    color: cyan;
    text-shadow: blue 3px 1px;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

#CONTACTO nav {
    display: flex;
    flex-direction: column;
}

#CONTACTO nav div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-left: 15%;
    padding-right: 15%;
}

form {
    display: flex;
    flex-direction: column;
    width: 40%;
}

form input {
    padding: 1%;
    margin: 0.5em;
    border: solid black 3px;
    background-color: rgb(131, 217, 252);
    text-align: center;
}

.consulta {
    height: 4rem;
}

.icon {
    width: 150%;
}

.icon:hover {
    transform: scale(1.3, 1.3);
    transition: all .5s;
    cursor: pointer;
}

.picture {
    width: 90%;
    height: 500px;
    margin: auto;
    display: block;
    border-radius: 25px;
    margin-top: 3%;
    border: 3px solid white;
}

/*        /CONTACTO           */